.Chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 75vh;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  outline: none;
  margin-top: 10px;
}

.messages-container {
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.message-block {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px;
}

.message-left {
  grid-column: 1;
}

.message-right {
  grid-column: 2;
}

.input-form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #f4f4f4;
  border-radius: 15px;
  align-items: center;
}

.input-field {
  flex-grow: 1;
  margin-right: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.chats-button {
  padding-bottom: 10px;
}

.input-button {
  display: flex;
  align-items: center;
  background-color: #007BFF;
  border: none;
  color: white;
  cursor: pointer;
  height: 48px;
  margin-bottom: 10px;
}

/* Responsive adjustments for smaller devices */
@media (max-width: 768px) {
  .Chat-box {
    height: 90vh; /* More screen usage on smaller devices */
    padding: 5px; /* Reduced padding for more space efficiency */
  }

  .messages-container {
    padding: 5px; /* Smaller padding */
  }

  .input-form {
    padding: 5px; /* Smaller padding */
  }

  .input-field {
    font-size: 14px; /* Smaller font size for better usability */
  }

  .input-button {
    padding: 6px 12px; /* Smaller button */
    font-size: 14px; /* Smaller text on button */
  }
}

/* Further adjustments for larger desktop screens */
@media (min-width: 1024px) {
  .Chat-box {
    max-width: 1000px; /* Limited max width for large screens */
  }
}
