.chat-block {
  width: 80%;
  max-width: 250px;
  padding: 10px;
  margin: 5px auto;
  background-color: rgb(95, 111, 112);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
  overflow: hidden;
}

.chat-block:hover {
  background-color: #f0f0f0;
}

.chat-block h4, .chat-block p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}

.chat-block h4 {
  color: white;
  font-size: 16px;
}

.chat-block p {
  color: #cfcfcf;
  font-size: 14px;
  margin-top: 5px;
}

@media (min-width: 480px) and (max-width: 768px) {
  .chat-block {
    width: 45%; 
    margin: 5px;
  }
}

/* Adjustments for larger desktop screens */
@media (min-width: 768px) {
  .chat-block {
    width: 20%; 
    margin: 5px 2%;
  }
}
