.message-block-own, .message-block-not-own {
	width: 20%; /* Reduced width */
	max-width: 50%;
	padding: 1px; /* Reduced padding for a more compact look */
	color: white;
	font-size: 16px; /* Adjusted font size for readability */
	border-radius: 15px;
	background-color: rgb(54, 36, 191);
	word-wrap: break-word; /* Ensure text does not overflow */
}

.message-block-not-own {
	background-color: rgb(37, 35, 55);
}

.username {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px; /* Space between username and online/offline badge */
	margin-bottom: 0;
}

.username h4 {
	margin-right: 5px; /* Space between online/offline badge and username */
	font-size: 16px; /* Ensure consistent font size */
}

.message-text {
	margin-top: 0; /* Eliminated top margin to bring message closer */
	font-size: 16px; /* Smaller font size for message text */
	overflow-wrap: break-word;  /* Ensures text wraps within the block */
}

.online {
	color: green
}

.offline {
	color: red
}
